
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.Nav-link{
    color: white;
}
.Navbar{
  font-family: 'Oswald', sans-serif;
}
.white-text{
    color: #fff;
}
.custom-dropdown .dropdown-toggle {
    color: white !important;
  }
  .Nav-Brand.mr-3 {
    margin-right: 4rem !important;
  }
.custom-toggle .navbar-toggler-icon {
    background-color: white !important;
  }
  .user_icon:hover{
    color: black;
  }
  .dropdown-toggle::after {
    display: none !important; 
  }
  .dropdown{
    transition: 0.9s;
  }
  .dropdown:hover{
    border: solid 1px #fff;
    transition: 0.9s;
  }
  .line{
    border: 0.5px solid rgb(244, 244, 244);
    margin-top: -10px;
  }
  .d_header_email{
    margin-top: -5px;
    font-size: 12px;
  }