.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
 }
 .Carousel_IMG{
    object-fit: cover;
    object-position: center;
    max-height: 30rem;
    width: 100%;
 }

